In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statistics


brady_bunch = pd.DataFrame()
brady_bunch['names'] = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver']
brady_bunch['age']= [14,12,11,10,8,6,8]
brady_bunch

    names  age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [3]:
#mean
sum(brady_bunch['age']) / len(brady_bunch['age'])
np.mean(brady_bunch['age'])

9.857142857142858

In [5]:
#median
statistics.median(brady_bunch['age'])
np.median(brady_bunch['age'])

10.0

In [6]:
#mode
statistics.mode(brady_bunch['age'])

8

In [7]:
#variance
brady_bunch['age'].var()
np.var(brady_bunch.age)

6.408163265306122

In [8]:
#Standard Deviation
np.std(brady_bunch['age'], ddof=1)

2.734262327610589

In [9]:
#Standard Error
np.std(brady_bunch['age'] ,ddof=1) / np.sqrt(len(brady_bunch['age']))

1.0334540197243192

In [10]:
brady_bunch.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [11]:
brady_bunch.names.value_counts()

Cindy     1
Marcia    1
Peter     1
Greg      1
Bobby     1
Oliver    1
Jan       1
Name: names, dtype: int64

In [16]:
Fans = pd.DataFrame()
Fans['Mag'] = ['TV Guide','Entertainment Weekly','Pop Culture Today','SciPhi Phanatic']
Fans['pfans']= [20,23,17,5]
Fans

                    Mag  pfans
0              TV Guide     20
1  Entertainment Weekly     23
2     Pop Culture Today     17
3       SciPhi Phanatic      5

In [17]:
Fans.describe()

           pfans
count   4.000000
mean   16.250000
std     7.889867
min     5.000000
25%    14.000000
50%    18.500000
75%    20.750000
max    23.000000

In [19]:
# percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?
sum(Fans['pfans']) / len(Fans['pfans'])
np.mean(Fans['pfans'])

16.25